html,
body {
  box-sizing: border-box;
  font-size: 18px;
  background: #f2f2f2;
  height: 100%;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding-top: 100px;
  padding-right: 58px;
  padding-bottom: 100px;
  padding-left: 75px;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.site-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.input-box { padding: .2rem; }

label {
  margin-bottom: 0;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

select {
  width: 90%;
  transition: border-color .4s ease-in-out;
}

select:hover {
  border-color: #36ade1;
  cursor: pointer;
}

input,
select {
  border-color: transparent;
  border-bottom: 1px gray solid;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  transition: background-color .3s ease-in-out;
}

[type=submit] {
  height: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 600;
  background-color: #36ade1;
  transition: background-color .3s ease-in-out;
}

input:hover,
[type=submit]:hover {
  background-color: #78ff9a;
  cursor: pointer;
}

.error-validate {
  display: none;
  font-size: 14px;
  font-weight: bold;
  color: coral;
}

.error-field {
  color: coral;
  box-shadow: 0 0 5px coral;
}

.success-field {
  color: #000;
  background-color: #78ff9a;
  box-shadow: 0 0 5px #78ff9a;
}

.table-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-section__title { margin-bottom: 30px; }

.modal-btn {
  border: 1px solid #36ade1;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px 20px;
  color: #36ade1;
  background-color: transparent;
  transition: border-color .3s ease-in-out,
              color .3s ease-in-out,
              box-shadow .3s ease-in-out;
}

.modal-btn:hover {
  border-color: blue;
  color: blue;
  box-shadow: 0 0 5px blue;
}

.search-filter {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.search-filter__input:not(:last-child) { margin-right: 2%;}

.modal-overlay {
  align-content: center;
  justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  max-width: 500px;
  height: auto;
  background-color: transparent;
  transform: translateX(150%);
}

.modal--visible { display: flex; }

.success {
  font-weight: 600;
  text-align: center;
  background-color: #78ff9a;
}

.error {
  font-weight: 600;
  text-align: center;
  background-color: lightcoral;
}
